# Fichiers et dossiers généraux
.DS_Store
.env
.idea/
*.log
__pycache__/

# Environnement virtuel
venv/
env/

# Fichiers de données
data/financial_data.db

# Fichiers Docker
.docker/

# Fichiers spécifiques à Python
*.pyc
.pytest_cache/